#ApproveContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 90%;
}
#ApproveText{
    font-family: 'IRANYekan';
    color: #1a0dab;
    text-align: right;
    margin: 0;
    padding: 0em;
  }
  #CheckBox{
    width: 7%;
  }
  #Content{
    width: 93%;
     
  }
  #ButtunContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "IRANYekan";

  }
  #ButtunApprove{
    width: 30%;
  }