h2 {
  font-weight: normal;
  color: #616161;
  text-align: center;
  font-family: "JfFlat";
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  font-size: 34px;
}

p {
  text-align: center;
  padding: 0 30px;
  color: #848484;
  font-weight: lighter;
}
@media only screen and (min-width: 1200px ) {
  .BoxSize{
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width: 1199px ){
  .BoxSize{
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width:992px) {
  .BoxSize{
    width: 400px;
    height: 450px;
   
  }
}
@media only screen and (max-width:768px) {
  .BoxSize{
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width:576px) {
  .BoxSize{
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width:576px) {
  .BoxSize{
    width: 400px;
   height: 450px;
   
  }
}

.Container {
  /* background: #f76c6c; */
  box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.13), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 10px 15px;
  outline: none;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
    will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
.LogoContainer {
  width: 130px;
  height: 130px;
  align-self: center;
  box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.13), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  // cursor: pointer;
  // will-change: transform, opacity;
}
.Logoimg {
  width: 110px;
  height: 110px;
  align-self: center;
  margin-left: -8%;
  // cursor: pointer;
  // will-change: transform, opacity;
}

.simple-trans-main > div {
  // yani har ja simple-trans-main be div haaye bachehaash style ro emal mikone
  position: absolute;
  width: 100%;
  height: 60%;
  margin: auto;
  top: 27%;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InputStyle {
  box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.13), 0 4px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  width: 100%;
  
}
.LoginCompContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  
  }
.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.Buttuncontainer{
  align-self: center;
  display: flex;
  justify-content: center;
}
.ButtunStyle{
  text-align: center;
  font-family: "JfFlat";
  width: 40%
}