html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// .simple-trans-main > div {
//   cursor: pointer;
//   margin: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   width: 30vw;
//   height: 65vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   // font-weight: 800;
//   // font-size: 10em;
//   will-change: transform, opacity;
//   text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
// }
.simple-trans-main > div {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: red;
  margin: auto;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
}
