#Wrapper{
    width: 100%;
}
#RowContainer{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: flex-end;
    margin-bottom: 2%;
}
#CheckBox{
    width: 6%;
    display: flex;
    justify-content: flex-end;
}
#TextStyle{
  font-family: "BYekan";
  color: #242424;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0em;
   
}