#guestLayout {
  background: #f8f8f8;

  #loginContainer {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    // top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}
.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // background-color: red($color: #000000);
}
