.contain{
    // background-color: rosybrown;
}
.SideBar{
background-color:red;
height: 93%;
}
.TopBar{
    height: 7%;
    background-color:royalblue;
}
.Footer{
   position: fixed;
   background-color: teal;
   bottom: 0;
}
.Body{
    background-color: springgreen;
    height:93% ;
    overflow:auto;
    
    // padding-bottom:150px;
}